<!-- #region Ćw 3 -->
<!-- <ul *ngIf="studenciItems">
  <li *ngFor="let student of studenciItems; let i = index">
    {{ i + 1 }} {{ student }}
  </li>
</ul> -->
<!-- #endregion -->

<!-- #region Ćw 4 -->
<p>Studenci:</p>
<ul>
  <li *ngFor="let student of studenciItems; let i = index">
    {{ i + 1 }}) {{ student }}
    <button (click)="usunStudenta(i)">Usuń</button>
  </li>
</ul>
<br />
<label>Podaj studenta: </label> -->
<input [(ngModel)]="student" />
<button (click)="dodajStudenta()">Dodaj studenta</button>

<!-- #endregion -->
