<!-- #region Ćw 1 -->
<!-- <h3 [className]="zmienKolor">Wprowadzenie do Angulara</h3>
<input [disabled]="isDisabled" (focus)="onFocus()">
<br>
<input [disabled]="isDisabled" (click)="onClick($event)">
<br>
<input [disabled]="isDisabled" (mousemove)="onMouseMove($event)">
<br>
<input [disabled]="isDisabled" (paste)="onPaste()"> {{ inputText }}
<br>
<button (click)="zmienUstawienia()">edytuj</button>
<button #butt (click)="butt.style='background:red;'">Zmień mój kolor</button> 
<br>
<input type="text" (focus)="butt.style=''" />
<br><br>
<button #showData (click)="wyswietlDane(input.value)">{{buttonText}}</button>
<input #input type="text"> -->
<!-- #endregion -->

<!-- #region Ćw 2 -->
<!-- <h3>Użycie ngModel</h3>
<p>Imię ucznia to: {{ imie }}</p>
<p>Nazwisko: {{ nazwisko }}</p>
<p>Wiek: {{ wiek }}</p>
<br />
<label for="name">imię: </label>
<input #name [(ngModel)]="imie" /> {{ imie }} <br />
<label for="surname">nazwisko: </label>
<input #surname [(ngModel)]="nazwisko" /><br />
<label for="age">wiek: </label>
<input #age [(ngModel)]="wiek" type="range" min="0" max="120" /> {{ wiek }}
<br />
<button (click)="pokazDane()">Pokaż dane</button>
<ul *ngIf="wyswietl">
  <li>Imie = {{ imie }}</li>
  <li>Nazwisko = {{ nazwisko }}</li>
  <li>Wiek = {{ wiek }}</li>
</ul> -->
<!-- #endregion -->

<!-- #region Ćw 3 -->
<!-- <app-studenci-view [studenciItems]="studenci"></app-studenci-view> -->
<!-- <app-samochody [samochody]="samochody" [tytul]="tytul"></app-samochody> -->
<!-- #endregion -->

<!-- #region Ćw 4 -->
<p *ngIf="isCreatedStudent" [ngStyle]="{ color: 'red' }">
  Student już istnieje!
</p>

<app-studenci-view
  [studenciItems]="studenci"
  (addStudent)="onAddStudent($event)"
  (usunStudent)="onUsunStudent($event)"
></app-studenci-view>
<p *ngIf="isCreatedCar" [ngStyle]="{ color: 'red' }">Samochod już istnieje!</p>
<app-samochody
  [samochody]="samochody"
  (addCar)="onAddCar($event)"
  (delCar)="onUsunCar($event)"
>
</app-samochody>

<!-- #endregion -->
